<div class="_cursor" id="_cursor"></div>
<div
  class="_follower"
  cursor-animation-property="15,10,600"
  id="_follower"
></div>
<header class="header" id="header">
  <div class="header__wrapper">
    <div class="line" id="line"></div>
    <div class="header__content _container">
      <div class="header__body">
        <div class="menu__icon icon-menu" (click)="menuSwitch()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="header__menu menu">
          <nav class="menu__body">
            <ul class="menu__list">
              <li class="menu__item">
                <a  class="menu__link" (click)="changingTheEnvironment()">Lorem, ipsum</a>
              </li>
              <li class="menu__item">
                <a href="" class="menu__link">Lorem, ipsum</a>
              </li>
              <li class="menu__item">
                <a href="" class="menu__link">Lorem, ipsum</a>
              </li>
              <li class="menu__item">
                <a href="" class="menu__link">Lorem, ipsum</a>
              </li>
              <li class="menu__item">
                <a href="" class="menu__link">Lorem, ipsum</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="logo cursorLink" id="logo">
    <div class="img-wrapper _ibg">
      <img src="assets/header_bg_2.png" alt="" />
    </div>
  </div>
  <section class="section__fullscreen fullscreen">
    <div class="fullscreen__container _container">
      <div class="fullscrean-page__img _ibg" id="tree">
        <img src="assets/1.png" alt="" />
      </div>
      <div class="fullscrean-page__outImg _ibg" id="branch">
        <img src="assets/3.png" alt="" />
      </div>
      <div class="map" id="map"> asdfasdf asdf </div>
      <div class="rigth-bar" id="rigth-bar">
        <h1 class="rigth-bar__title">Growing Cultures</h1>
        <p class="rigth-bar__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias ea
          laboriosam rem, molestias quod, nulla consectetur impedit dolorum nemo
          excepturi cum necessitatibus illo? Magni officia qui voluptate sequi,
          quia illo.
        </p>
        <div class="rigth-bar__buttons">
          <button class="rigth-bar__button" (click)="changingTheEnvironment()">go to map</button>
          <button class="rigth-bar__button">button</button>
        </div>
      </div>
    </div>
  </section>
</main>
