<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>

<div #pointPopup
     class="hidden"
>
  <div class="popup-container">
    <ng-container *ngIf="popupDataTransferService.popupData | async as data; else noPopupDataTemplate">
      <div class="title-wrapper">
        {{ data.title }}
      </div>
      <div class="description-wrapper">
        {{ data.description }}
      </div>

      <div class="show-more-button-wrapper">
        <button class="show-more"
                (click)="openModalFromPopup(data.id)"
        >
          More
        </button>
      </div>
    </ng-container>
    <ng-template #noPopupDataTemplate></ng-template>
  </div>
</div>
