.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

.hidden {
  opacity: 0;
  z-index: -25;
}

::ng-deep .popup-container {
  min-width: 200px;

  .show-more-button-wrapper {
    display: flex;
    justify-content: right;
    cursor: pointer;

    .show-more {
      background-color: #42cb2e8f;
      outline: none;
      border: none;
      padding: 7px;
      border-radius: 14px 0 14px 0;
      cursor: pointer;
      transition: .4s;

      &:hover {
        border-radius: 3px;
        background-color: rgba(46, 145, 32, 0.62);
      }
    }
  }
}
