<div class="_cursor" id="_cursor"></div>
<div class="_follower" cursor-animation-property="15,10,600" id="_follower"></div>
<header class="header" id="header">
  <div class="header__wrapper">
    <div class="line" id="line"></div>
    <div class="header__content _container">
      <div class="header__body">
        <div class="menu__icon icon-menu">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="header__logo">
          <a href="" class="header__logo-link"><img src="" alt="logo"></a>
        </div>
        <div class="header__info info-header">
          <div class="info-header__item">
            <div class="info-header__plase"><a href="" class="info-header__link">5</a></div>
            <div class="info-header__date">02.31</div>
          </div>
        </div>
        <div class="header__menu menu">
          <nav  class="menu__body">
            <ul class="menu__list">
              <li class="menu__item"><a href="" class="menu__link">1</a></li>
              <li class="menu__item"><a href="" class="menu__link">2</a></li>
              <li class="menu__item"><a href="" class="menu__link">3</a></li>
              <li class="menu__item"><a href="" class="menu__link">4</a></li>
              <li class="menu__item"><a href="" class="menu__link">5</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<main>

</main>

<div class="foo">asdasdasd</div>
